.singleInsight__heroSec {
    height: 80vh;
    background: #022E54;
}
.text__container {
    max-width: 370px;
    margin-top: 20px;
}
.text__container h1 {
    color: #FFF;
    font-size: 36px;
    text-transform: capitalize;
}
.btnContainer {
    margin-top: 40px;
}
.btnContainer .veiwBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-size: 22px;
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #469338;
    margin-top: 20px;
    border: 1px solid #469338;
    transition: all 0.3s ease-in-out;
}
.btnContainer .veiwBtn:hover {
    background-color: #ffffff;
    color: #469338;
}
.btnContainer img {
    width: 32px;
    height: 32px;
    margin-inline-start: 5px;
}
.btnContainer .downloadBtn {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-size: 22px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
.btnContainer .downloadBtn:hover {
    background-color: #ffffff;
    color: #022E54;
}
.imgContainer {
    transform: translateX(140px);
    background-image: url('../../assets/insightsPage/SingleInsighsHeroSec.jpeg');
    background-position: center;
    height: 100%;
    width: 550px !important;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.imgContainer::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(8, 59, 103, 0.239);
}
@media (max-width: 1200px) {
    .imgContainer {
        transform: translateX(0px);
        width: 600px !important;
    }
}
@media (max-width: 991px) {
    .singleInsight__heroSec{
        height: 50vh;
    }
    .imgContainer {
        display: none;
    }
}
@media (max-width: 768px) {
    .text__container {
        margin: 40px auto 0 !important;
    }
    .text__container h1 {
        font-size: 30px;
    }
    .btnContainer .veiwBtn {
        font-size: 15px;
        width: 90%;
        padding: 15px;
    }
    .btnContainer .downloadBtn {
        font-size: 15px;
        width: 90%;
        padding: 15px;
    }
}
@media (max-width: 600px) {
    .text__container {
        margin: 40px 0 !important;
    }
    .text__container h1 {
        font-size: 25px;
    }
}