.slider__handler{
    position: relative;
    width: 100%;
}

.slide__item__handler {
    position: relative;
    width: 100% !important;
    height: 90vh; 
    background-size: cover;
    background-position: center;
    text-align: start;
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.slideItem__info {
    position: relative;
    text-align: start;
    margin-bottom: 50px;
}
.slideItem__info p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--primary-white);
}
.slideItem__info h2{
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--primary-white);
    margin-bottom: 20px;
}
.slideItem__info button{
    border: 2px solid var(--primary-white);
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--secondary-white);
    background: transparent;
    transition: all ease-in-out .3s;
}
.slideItem__info button:hover{
    background: var(--primary-white);
    color: var(--main-dark-blue-color-text);
}


.custom-navigation {
    position: absolute;
    z-index: 888;
    bottom: 10px; 
    right: 3%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px; 
}
.swiper-button-prev-custom,
.swiper-button-next-custom {
    cursor: pointer;
    font-size: 24px; 
    color: #fff;
    display: flex;
    align-items: center;
    transition: all ease-in-out .3s;
}
.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover{
    opacity: 1;
}
.swiper-button-prev-custom{
    opacity: .6;
}