.mainParagraph {
    color: var(--primary-black) !important;
    max-width: 600px;
    text-transform: unset !important;
}
.mainHeaderServices {
    margin: 50px 0;
    padding: 50px 0;
}
@media (max-width: 768px) {
    .mainParagraph {
        max-width: 90%;
        font-size: 13px !important;
    }
    .mainHeaderServices h3{
        margin: auto;
        font-size: 25px !important;
    }
}
@media (max-width: 500px) {
    .mainParagraph {
        max-width: 90%;
        font-size: 13px !important;
    }
    .mainHeaderServices h3{
        font-size: 25px !important;
    }
}