.isnightsCard {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    min-height: 400px;
    margin-bottom: 30px;
}
.insightsCard__body {
    width: 100%;
    position: relative;
    z-index: 2;
    transform: translateY(60%);
    padding: 20px;
    background-color: #ffffff;
    transition: all 0.4s ease-in-out;
}
.isnightsCard:hover .insightsCard__body {
    transform: translate(0);
}
.insightsCard__body p {
    color: #011F5B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.insightsCard__body h4 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease-in-out;
}
.insightsCard__body h4:hover {
    color: #53A843;
}
.insightsCard__body small {
    color: #011F5B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media (max-width: 768px) {
    .isnightsCard {
        min-height: 380px;
    }
}
@media (max-width: 600px) {
    .isnightsCard {
        min-height: 370px;
    }
}
@media (max-width: 500px) {
    .isnightsCard {
        min-height: 370px;
    }
}