.breakingLine {
    text-align: center;
    text-transform: uppercase;
    color: #022E54;
    position: relative;
    margin: 30px 0;
}
.breakingLine::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 1px;
    background-color: #022E54;
}
.breakingLine::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 1px;
    background-color: #022E54;
}

@media (max-width: 768px) {
    .breakingLine::after {
        display: none;
    }
    .breakingLine::before {
        display: none;
    }
    .breakingLine {
        padding-top: 20px;
        border-top: 1px solid #022E54;
    }
}