.myHomeOverview__handler {
  margin-top: 60px;
}
.fullOverview_items {
  display: grid;
  grid-template-columns: 50% repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  height: 650px;
}
.fullOverview_items img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.overview_item {
  height: 650px;
  overflow: hidden;
  position: relative;
}
.item_small {
  height: 315px;
  position: relative;
  overflow: hidden;
}
.item_small img {
  object-fit: cover;
}
.overview_item .item_small .overflow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(1, 27, 92, 0.692);
}
.overview_item .overflow.bg_color {
  background: rgba(141, 115, 82, 0.553);
}
.overview_item .overview_info {
  position: absolute;
  bottom: 0;
  padding: 40px;
}
.overview_item .overview_info.hasIcon {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: last baseline;
}
.overview_item .overview_info.hasIcon i {
  color: var(--primary-white);
  cursor: pointer;
}
.overview_item .overview_info img {
  width: 100px;
  height: 70px;
  margin-bottom: 15px;
  filter: brightness(0) invert(1);
}
.overview_item .overview_info p {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-white);
  text-transform: capitalize;
}
@media screen and (max-width: 992px) {
  .overview_item .overview_info {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .fullOverview_items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    height: fit-content;
  }
  .fullOverview_items .overview_item {
    margin-inline: 20px;
    flex-direction: row !important;
    gap: 20px;
  }
  .fullOverview_items .overview_item .item_small {
    width: 50% !important;
  }
}
@media screen and (max-width: 600px) {
  .removeMarginRight {
    margin-inline-end: 0;
    padding-inline-end: 0;
  }
}
