.myHomePodacast__handler{
    margin-top: 60px;
}
.podacastVideo__handler{
    position: relative;
    width: 100%;
    height: 100%;
}
.podacastVideo__handler img{
    width: 100% ;
    height: 648px; 
}
.podacastVideo__handler .videoIcon_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8808;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(217, 217, 217, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    width: 160px;
    height: 160px;
}
.podacastVideo__handler .videoIcon_container:hover {
    border-color: rgba(121, 193, 67, 0.57);
}
.podacastVideo__handler .viedo_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 888;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: rgba(121, 193, 67, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    animation-name: circleGetLargeThenSmall;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.podacastVideo__handler .viedo_icon:hover {
    background-color: #fff;
}
.podacastVideo__handler .viedo_icon i{
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    font-size: 26px;
}
.podacastVideo__handler .viedo_icon:hover i {
    color: rgba(121, 193, 67, 0.57);
}
.podacastInfo{
    position: relative;
    width: 100%;
    height: 100%;
}
.podacastInfo img{
    width: 100% ;
    height: 648px;
}
.podacastInfo .overflow{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(12, 35, 105, 0.562);
z-index: 10;
}
.podacastInfo .podaInfo_text{
    position: absolute;
    bottom: 30px;
    padding: 30px;
    z-index: 12;
    color: #fff;
}
.podacastInfo .podaInfo_text h3{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.podacastInfo .podaInfo_text h3 i{
    margin-inline-start: 10px;
}
@media (max-width: 991px) {
    .podacastVideo__handler img{
        width: 100% ;
        height: 448px; 
    }
    .podacastInfo img{
        width: 100% ;
        height: 448px;
    }
}
@media (max-width: 768px) {
    .podacastInfo .podaInfo_text h3{
        font-size: 16px;
    }
}
@keyframes circleGetLargeThenSmall {
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}