.myHomeServices__handler{
    margin-top: 60px;
}
.servicesItem__handler {
    padding-inline-start: 80px;
}
.serviceItem_box{
    min-height: 230px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.serviceItem_box:hover {
    background-color: #f5f5f5;
}
.serviceItem_box img{
    width: 62px;
    height: 62px;
}
.serviceItem_info h3{
    padding: 0 0px 0 0 ;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-dark-blue-color-text);
    margin-bottom: 15px;
}
.hidden__content {
    padding: 20px;
    position: absolute;
    left: -100%;
    width: 90%;
    height: 100%;
    top: 0;
    z-index: 10;
    background-color: var( --main-blue-color-bg);
    color: #f5f5f5;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.visible__content {
    left: 5%;
    opacity: 1;
}
.visible__content span {
    right: 10px;
    top: 5px;
    font-size: 20px;
}
@media (max-width: 1024px) {
    .serviceItem_box {
        max-height: 200px;
        min-height: 180px;
    }
    .hidden__content h5 {
        font-size: 16px;
    }
    .hidden__content li {
        font-size: 15px;
    }
}
@media (max-width: 991px) {
    .serviceItem_box {
        min-height: 180px ;
    }
    .hidden__content h5 {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .hidden__content li {
        font-size: 12px;
    }
    .hidden__content {
        padding: 20px 5px;
    }
    .serviceItem_info h3{
        font-size: 16px;
    }
    .myHomeServices__handler .col-md-3 {
        max-width: 50%;
    }
    .hidden__content {
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .myHomeServices__handler
    {
        padding-inline-start: 0;
    }
    .serviceItem_box{
        text-align: center;
    }
    .serviceItem_box img {
        margin: 0 auto;
        width: 42px;
        height: 42px;
    }
}